# Name-SHIVESH CHANDRA
# REGISTRATION NUMBER-200968230
# LAB 1 EXERCISE 1

In [42]:
import pandas as pd

In [43]:
#Creating a data frame of 10 students with their details
students = [[1,'Shivesh', 'M', 98, 93, 100], [2, 'Diya', 'F', 100, 99, 98], [3, 'Sanket', 'M', 78, 72, 68],[4, 'Ishika', 'F', 89, 98, 100],[5, 'Yash', 'M', 78, 73, 87], [6, 'Nandini', 'F', 81, 77, 95], [7, 'Apoorv', 'M', 56, 38, 39], [9, 'Samarth', 'M', 32, 33, 39],[9, 'Ayaan', 'M', 23, 34, 65], [10, 'Navya', 'F', 32, 33, 34]]

In [44]:
df = pd.DataFrame(students ,columns=["Roll number", "Name", "Gender", "Marks1", "Marks2", "Marks3"]) 
print(df)

   Roll number     Name Gender  Marks1  Marks2  Marks3
0            1  Shivesh      M      98      93     100
1            2     Diya      F     100      99      98
2            3   Sanket      M      78      72      68
3            4   Ishika      F      89      98     100
4            5     Yash      M      78      73      87
5            6  Nandini      F      81      77      95
6            7   Apoorv      M      56      38      39
7            9  Samarth      M      32      33      39
8            9    Ayaan      M      23      34      65
9           10    Navya      F      32      33      34

In [45]:
#Adding a column with total marks
totalMarks = df['Marks1']+df['Marks2']+df['Marks3']
df['Total Marks']= totalMarks
print(df)

   Roll number     Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1  Shivesh      M      98      93     100          291
1            2     Diya      F     100      99      98          297
2            3   Sanket      M      78      72      68          218
3            4   Ishika      F      89      98     100          287
4            5     Yash      M      78      73      87          238
5            6  Nandini      F      81      77      95          253
6            7   Apoorv      M      56      38      39          133
7            9  Samarth      M      32      33      39          104
8            9    Ayaan      M      23      34      65          122
9           10    Navya      F      32      33      34           99

In [46]:
#Lowest marks in Marks1
min = df['Marks1'].min()
print("Lowest marks in Marks1 is:")
print(min)

Lowest marks in Marks1 is:
23

In [47]:
#Highest marks in Marks2
max = df['Marks2'].max()
print("Highest marks in Marks2 is:")
print(max)

Highest marks in Marks2 is:
99

In [48]:
#Average marks in Marks3
avg = df['Marks3'].mean()
print("The average marks in Marks3 is:")
print(avg)

The average marks in Marks3 is:
72.5

In [49]:
#Student with highest average marks
df.loc[df['Total Marks'] == df['Total Marks'].max(), 'Name']

1    Diya
Name: Name, dtype: object

In [50]:
print("Students with highest average marks is Diya")

Students with highest average marks is Diya

In [51]:
#Number of students failed in Marks2
len(df[df['Marks2']<40])

4

In [52]:
print("4 student failed in Marks2")

4 student failed in Marks2