# Name-SHIVESH CHANDRA
# REGISTRATION NUMBER-200968230
# LAB 6 EXERCISE 1

In [90]:
#Importing necesssary libraries for data analysis
import pandas as pd
import numpy as np

# Q1.Read about the movielens dataset and write down a summary of metadata.

- This dataset (ml-latest-small) describes 5-star rating and free-text tagging activity from [MovieLens](http://movielens.org),   a movie recommendation service.
- 100,836 ratings (0.55 w/ 0.5 increments)
- 9742 movies
- 3683 tags
- Users represented by ID (consistent b/w rating and tags)
- Movie ID consistent accross ratings, tags, movies and links
- Genres pipe separated list
- Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970.

# User-Based Similarity

# Q2.Read the “ratings.csv”file and create a pivot table with index=‘userId’, columns=‘movieId’,values = “rating.

In [91]:
#Importing the datset
df = pd.read_csv("ratings.csv")
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [92]:
df_pivot = pd.pivot_table(df,values = "rating", index = "userId", columns = "movieId")
df_pivot.fillna(value=0, inplace=True)
df_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3.sklearn.metrics.pairwise_distances  can  be  used  to  compute  distancebetween  all  pairs  of users. pairwise_distances() takes a metric parameter for what distance measure touse. Use cosine similarity for finding similarityamong users.Use the following packages.
# 4.from sklearn.metrics import pairwise_distances
# 5.from scipy.spatial.distance import cosine, correlation

In [93]:
import sklearn
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [94]:
distance = pairwise_distances(df_pivot, metric="cosine")
distance

array([[0.00000000e+00, 9.72717135e-01, 9.40279738e-01, ...,
        7.08902628e-01, 9.06428070e-01, 8.54679193e-01],
       [9.72717135e-01, 3.33066907e-16, 1.00000000e+00, ...,
        9.53789046e-01, 9.72434599e-01, 8.97573246e-01],
       [9.40279738e-01, 1.00000000e+00, 1.11022302e-16, ...,
        9.78871538e-01, 1.00000000e+00, 9.67881252e-01],
       ...,
       [7.08902628e-01, 9.53789046e-01, 9.78871538e-01, ...,
        0.00000000e+00, 8.78007286e-01, 6.77945142e-01],
       [9.06428070e-01, 9.72434599e-01, 1.00000000e+00, ...,
        8.78007286e-01, 2.22044605e-16, 9.46774537e-01],
       [8.54679193e-01, 8.97573246e-01, 9.67881252e-01, ...,
        6.77945142e-01, 9.46774537e-01, 4.99600361e-15]])

In [95]:
x = pd.DataFrame(np.squeeze(distance))
x

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,0.000000,9.727171e-01,9.402797e-01,8.056052e-01,8.709201e-01,0.871848,0.841256,0.863032,0.935737,0.983125,...,0.919446,0.835545,0.778514,0.929331,0.846375,8.358085e-01,7.306108e-01,0.708903,9.064281e-01,8.546792e-01
1,0.972717,3.330669e-16,1.000000e+00,9.962741e-01,9.833856e-01,0.974667,0.972415,0.972743,1.000000,0.932555,...,0.797329,0.983134,0.988003,1.000000,1.000000,9.715710e-01,9.870521e-01,0.953789,9.724346e-01,8.975732e-01
2,0.940280,1.000000e+00,1.110223e-16,9.977486e-01,9.949803e-01,0.996064,1.000000,0.995059,1.000000,1.000000,...,0.994952,0.995108,0.975008,1.000000,0.989306,9.870070e-01,9.807532e-01,0.978872,1.000000e+00,9.678813e-01
3,0.805605,9.962741e-01,9.977486e-01,1.554312e-15,8.713411e-01,0.911509,0.884880,0.937031,0.988639,0.968837,...,0.914062,0.871727,0.692027,0.947015,0.915416,7.996055e-01,8.682538e-01,0.850142,9.678020e-01,8.923170e-01
4,0.870920,9.833856e-01,9.949803e-01,8.713411e-01,4.440892e-16,0.699651,0.891658,0.570925,1.000000,0.969389,...,0.931952,0.581253,0.889852,0.741227,0.851242,8.935651e-01,8.471340e-01,0.864465,7.387679e-01,9.392082e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.835809,9.715710e-01,9.870070e-01,7.996055e-01,8.935651e-01,0.897877,0.799965,0.900612,0.924102,0.911037,...,0.821916,0.883466,0.699331,0.933968,0.851859,2.220446e-16,8.469374e-01,0.737442,9.303783e-01,7.988962e-01
606,0.730611,9.870521e-01,9.807532e-01,8.682538e-01,8.471340e-01,0.837818,0.813886,0.814858,0.988156,0.989549,...,0.907475,0.800090,0.796460,0.862166,0.881220,8.469374e-01,3.330669e-16,0.716919,8.508097e-01,8.608856e-01
607,0.708903,9.537890e-01,9.788715e-01,8.501419e-01,8.644647e-01,0.821191,0.676459,0.812767,0.899565,0.922576,...,0.841645,0.802486,0.767229,0.844694,0.821858,7.374419e-01,7.169185e-01,0.000000,8.780073e-01,6.779451e-01
608,0.906428,9.724346e-01,1.000000e+00,9.678020e-01,7.387679e-01,0.785766,0.909160,0.576007,1.000000,0.978234,...,0.964347,0.664769,0.938059,0.763399,0.902390,9.303783e-01,8.508097e-01,0.878007,2.220446e-16,9.467745e-01
609,0.854679,8.975732e-01,9.678813e-01,8.923170e-01,9.392082e-01,0.947332,0.806781,0.921847,0.925601,0.878928,...,0.777509,0.912472,0.836906,0.947448,0.880705,7.988962e-01,8.608856e-01,0.677945,9.467745e-01,4.996004e-15

# Q6.Find the 5 most similar user for user with user Id 10.

In [96]:
users_movie = pairwise_distances(df_pivot, metric='cosine')
user_similarity = users_movie[10 - 1, :]
five_similar = user_similarity.argsort()
five_similar = five_similar[:5]
print(f"Most Similar Users to User ID 10 are: {[x+1 for x in five_similar]} in the same high to low order")

Most Similar Users to User ID 10 are: [10, 159, 143, 563, 177] in the same high to low order

# Q7.Use the “movies” dataset to find out the names of movies, user 2 and user 338 have watched in common and how they have rated each one of them.

In [97]:
#Importing the datset
movies = pd.read_csv("movies.csv")
movies
comm = pd.DataFrame(pd.merge(df, movies, on="movieId"))
comm

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [98]:
user2_movie = pd.DataFrame(comm[comm["userId"] == 2][["title","rating"]])
user2_movie.head(30)

                                                   title  rating
2267                                    Tommy Boy (1995)     4.0
15657                                   Gladiator (2000)     4.0
16296                   Shawshank Redemption, The (1994)     3.0
16613                           Good Will Hunting (1997)     4.5
16754                           Kill Bill: Vol. 1 (2003)     4.0
16885                                  Collateral (2004)     3.5
16929  Talladega Nights: The Ballad of Ricky Bobby (2...     4.0
16957                               Departed, The (2006)     4.0
17064                            Dark Knight, The (2008)     4.5
17213                               Step Brothers (2008)     5.0
17241                        Inglourious Basterds (2009)     4.5
17329                                  Zombieland (2009)     3.0
17382                              Shutter Island (2010)     4.0
17449                  Exit Through the Gift Shop (2010)     3.0
17462                                   Inception (2010)     4.0
17605                                   Town, The (2010)     4.5
17627                                  Inside Job (2010)     5.0
17639                       Louis C.K.: Hilarious (2010)     4.0
17648                                     Warrior (2011)     5.0
17659                      Dark Knight Rises, The (2012)     3.5
17735            Girl with the Dragon Tattoo, The (2011)     2.5
17777                            Django Unchained (2012)     3.5
17848                    Wolf of Wall Street, The (2013)     5.0
17902                                Interstellar (2014)     3.0
17975                                    Whiplash (2014)     4.0
18013                                    The Drop (2014)     2.0
18016                                  Ex Machina (2015)     3.5
18044                          Mad Max: Fury Road (2015)     5.0
18091  The Jinx: The Life and Deaths of Robert Durst ...     5.0

In [99]:
user338_movie = pd.DataFrame(comm[comm["userId"] == 338][["title","rating"]])
user338_movie.head(40)

                                                   title  rating
692                           Usual Suspects, The (1995)     4.5
1997                                 Pulp Fiction (1994)     4.5
3684                             Schindler's List (1993)     5.0
4462                    Silence of the Lambs, The (1991)     4.0
14435                                  Fight Club (1999)     4.5
16473                   Shawshank Redemption, The (1994)     5.0
16831                           Kill Bill: Vol. 1 (2003)     4.5
21265                                12 Angry Men (1957)     5.0
36403                                  Spider-Man (2002)     3.0
36617                             Minority Report (2002)     2.0
37134      Lord of the Rings: The Two Towers, The (2002)     3.0
38040  Lord of the Rings: The Return of the King, The...     2.5
41633                                Hotel Rwanda (2004)     3.5
45469                              Godfather, The (1972)     4.5
50211                                     Old Boy (2003)     4.0
50593                     Godfather: Part II, The (1974)     5.0
54189                                Garden State (2004)     4.0
54350           Charlie and the Chocolate Factory (2005)     2.5
54523                                    Serenity (2005)     3.5
57570   Three Billboards Outside Ebbing, Missouri (2017)     5.0
70952             Avengers: Infinity War - Part I (2018)     1.5
70967                              Thor: Ragnarok (2017)     1.0
70986                           Blade Runner 2049 (2017)     1.0
70997                               Incredibles 2 (2018)     1.0
71007                                  Deadpool 2 (2018)     1.0
79008                            Band of Brothers (2001)     2.5
81496               Black Mirror: White Christmas (2014)     5.0
86994                                        Coco (2017)     2.5
93463                               A Quiet Place (2018)     1.0
93578                                Isle of Dogs (2018)     1.5
95124                                  Wind River (2017)     1.5
97111                                  Boundaries (2018)     2.5
97112                                      Spiral (2018)     3.0
97113                                        Tilt (2011)     1.5
97114                 Jeff Ross Roasts the Border (2017)     4.0
97115                                   John From (2015)     1.0
97116                                Liquid Truth (2017)     1.5
97117                                       Bunny (1998)     1.0
97118  Hommage à Zgougou (et salut à Sabine Mamou) (2...     1.0

In [100]:
similar = pd.merge(user2_movie, user338_movie,  on="title", suffixes=('_User2',  '_User338'))
similar.head()

                              title  rating_User2  rating_User338
0  Shawshank Redemption, The (1994)           3.0             5.0
1          Kill Bill: Vol. 1 (2003)           4.0             4.5

# Q8.Use the movies dataset to find out the common movienamesbetween user 2 and user 338 with least rating of 4.0

In [101]:
similar[(similar["rating_User2"] >= 4) & ((similar["rating_User338"] >= 4))]

                      title  rating_User2  rating_User338
1  Kill Bill: Vol. 1 (2003)           4.0             4.5

# Item-Based Similarity

# Q9.Create a pivot table for representing the similarity among movies using correlation.

In [102]:
df_movie = pd.DataFrame(comm.pivot_table(index='title',columns='userId',values='rating'))
df_movie.fillna(value=0, inplace=True)
df_movie

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,2.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
¡Three Amigos! (1986),4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Q10.Find the top 5  movies which are similar to the movie “Godfather”.

In [103]:
df_movie[df_movie.index.str.contains('Godfather')]

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
"Godfather, The (1972)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,5.0,0.0,0.0,4.0,4.0,5.0,0.0,5.0
"Godfather: Part II, The (1974)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,5.0,0.0,0.0,4.0,0.0,4.5,0.0,5.0
"Godfather: Part III, The (1990)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0
The Godfather Trilogy: 1972-1990 (1992),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tokyo Godfathers (2003),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0